extends layout

block content
  .row
    .col.s12
      ul.tabs
        li.tab.col.s3
          a(href='/restaurants') Restaurants
        li.tab.col.s3
          a(href='/neighborhoods') Neighborhoods
        li.tab.col.s3
          a(href='/admin') Admin
    .header
      h3 gTables
    .newRest
      a(href='/restaurants') GO
    
